.header__container{
    width: 100%;
    max-width:60rem;    
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-block: 1.06rem;
    margin: auto;
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);
}

header>img{
    width: 4.4rem;
    height: 0.86rem;
}

.header__list{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

